body,
html,
#root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  text-align: center;
}

.output-box {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}